<!DOCTYPE html>
<html lang="en">
<head>
    {% if title %}
    <title>{{ title }}
        - SupplyTracker</title>
    {% else %}
    <title>SupplyTracker</title>
    {% endif %}
    <link href="/static/css/bootstrap.min.css" media="screen" rel="stylesheet">
    <link href="/static/css/chosen.min.css" rel="stylesheet">
    <link href="/static/css/custom-bootstrap.css" rel="stylesheet">
    <script src="/static/js/jquery-2.1.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/chosen.jquery.min.js"></script>
</head>
<body>
<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="container-fluid fill-height">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ url_for('index') }}">Supply Tracker</a>
        </div>
    </div>
</nav>
<div class="container-fluid fill-height under-navbar">
    <div class="row fill-height">
        <div class="col-xs-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="custom-sidebar-header">
                    <a class="custom-side-bar-elements" href="{{ url_for('index') }}">Home</a>
                </li>
                <li class="dropdown custom-sidebar-header">
                    <a aria-expanded="false" aria-haspopup="true"
                       class="dropdown-toggle custom-side-bar-header" data-toggle="collapse" href="#add-sidebar-dropdown" role="button">Add
                        <span class="caret"></span>
                    </a>
                </li>
                <ul class="nav nav-sidebar-collapse collapse in" id="add-sidebar-dropdown">
                    <li>
                        <a class="custom-side-bar-elements" href="{{ url_for('add_item_type') }}">Add Item Type</a>
                    </li>
                    <li>
                        <a class="custom-side-bar-elements" href="{{ url_for('add_supplier') }}">Add Supplier</a>
                    </li>
                    <li>
                        <a class="custom-side-bar-elements" href="{{ url_for('add_customer') }}">Add Customer</a>
                    </li>
                    <li>
                        <a class="custom-side-bar-elements" href="{{ url_for('add_courier') }}">Add Courier</a>
                    </li>
                    <li>
                        <a class="custom-side-bar-elements" href="{{ url_for('add_transaction_medium') }}">Add
                            Transaction Medium</a>
                    </li>
                    <li>
                        <a class="custom-side-bar-elements" href="{{ url_for('add_purchase_transaction') }}">Add
                            Purchase Transaction</a>
                    </li>
                    <li>
                        <a class="custom-side-bar-elements" href="{{ url_for('add_sale_transaction') }}">Add Sale
                            Transaction</a>
                    </li>
                </ul>
                <li class="dropdown custom-sidebar-header">
                    <a aria-expanded="false" aria-haspopup="true"
                       class="dropdown-toggle custom-side-bar-header" data-toggle="collapse" href="#view-sidebar-dropdown" role="button">View
                        <span class="caret"></span>
                    </a>
                </li>
                <ul class="nav nav-sidebar-collapse collapse in" id="view-sidebar-dropdown">
                    <li>
                        <a href="{{ url_for('items') }}">Item List</a>
                    </li>
                    <li>
                        <a href="{{ url_for('item_types') }}">Item Type List</a>
                    </li>
                    <li>
                        <a href="{{ url_for('item_stock') }}">Item Stock</a>
                    </li>
                    <li>
                        <a href="{{ url_for('suppliers') }}">Suppliers</a>
                    </li>
                    <li>
                        <a href="{{ url_for('customers') }}">Customers</a>
                    </li>
                    <li>
                        <a href="{{ url_for('couriers') }}">Couriers</a>
                    </li>
                    <li>
                        <a href="{{ url_for('transaction_mediums') }}">Transaction Mediums</a>
                    </li>
                    <li>
                        <a href="{{ url_for('purchase_transactions') }}">Purchase Transactions</a>
                    </li>
                    <li>
                        <a href="{{ url_for('sale_transactions') }}">Sale Transactions</a>
                    </li>
                </ul>
            </ul>
        </div>
        <div class="col-xs-9 col-md-10 main">
            <div class="container-fluid">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <div class="alert alert-success">
                    {% for message in messages %}
                    {{ message }}<br>
                    {% endfor %}
                </div>
                {% endif %}
                {% endwith %}
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
</div>
</body>
</html>
